.App {
  text-align: center;
  background-color: #ffffff;
  color: #363c3d;
  font-family: 'Source Serif Pro', serif;
  border: red 2px solid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  background-color: #363c3d;
  display: flex;
  width: 100%;
  align-items: center;
  border: red 2px solid;
}

header form {
  border: red 2px solid;
}

footer {
  width: 100%;
  align-items: center;
  border: red 2px solid;
}

.color-swatch {
  width: 75px;
  height: 75px;
  align-items: bottom;
  margin: 2%;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 7px #363c3d;
  list-style-type: none;
  display: inline-block;
  vertical-align: bottom;
}

.color-swatch h4 {
  align-self: baseline;
  background-color: #ffffff;
  color: #363c3d;
  position: relative;
  vertical-align: bottom;
}

.color-list {
  max-width: 75%;
  border: red 2px solid;
  margin: 0 auto;
}

.pagination {
  border: red 2px solid;
  color: white;
}

.pagination a {
  border: red 2px solid;
  color: #363c3d;
}

.pagination a:hover {
  border: red 2px solid;
  color: white;
  background-color: blue;
}

.pagination li {
  display: inline-block;
  margin: 1%;
  padding: 1%;
  border: red 2px solid;
}

.sidebar {
  list-style-type: none;
  /* display: inline-block; */
  text-align: left;
  background-color: #d6d8d8;
  max-width: 10%;
  border: red 2px solid;
  height: 100%;
}

.sidebar > * {
  list-style-type: none;
  display: block;
  border: red 2px solid;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
