* {
  margin: 0;
  padding: 0;
  font-family: 'Source Serif Pro', serif;
  color: #363c3d;
  list-style-type: none;
}

.grid-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(10, minmax(0, 1fr));
  height: 100vh;
}

/**** Styling for List, Pagination, Card, and Detail components ****/

/** List **/
.color-swatch-section {
  grid-column: 2 / 6;
  grid-row: 1/ 9;
}

.color-list {
  display: flex;
  flex-flow: row wrap;
  max-width: 80vw;
  min-width: 200px;
  min-height: 80vh;
  margin: 5% auto;
  margin-bottom: 2%;
  justify-content: space-around;
  row-gap: 5%;
}

/** Card **/
a > .color-card {
  align-items: center;
}

a:link {
  text-decoration: none;
  margin: 2%;
}

.color-card {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.434);
  border: 2px 1px solid white;
  align-items: end;
  border-radius: 0.5rem;
  height: 175px;
  width: 150px;
}

.color-block {
  height: 80%;
  width: 100%;
  position: relative;
  border-radius: 0.5rem 0.5rem 0 0;
}

.color-title > h4 {
  border: 5px solid white;
  height: 20%;
  width: 80%;
  background-color: white;
  align-items: left;
  margin: 2%;
}

.color-card > div > a > h4 {
  height: 25%;
  text-align: left;
}

/** Detail **/
.detail {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
}

.detail .color-block {
  border-radius: 0.5rem 0.5rem 0 0;
}

.detail > a > .color-card {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.434);
  border: 2px solid #363c3d;
  border-radius: 0.65rem;
  height: 50vh;
  width: 70vw;
  margin: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.detail .color-card > .color-title > h4 {
  font-size: 2em;
  margin: 2%;
  max-width: 20%;
  position: relative;
}

.related-colors {
  display: flex;
  max-width: 80vw;
  padding: 0;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: space-around;
}

.related-colors .color-card {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.434);
  border: 2px 1px solid white;
  display: flex wrap;
  width: 12vw;
  height: 10vh;
  padding: 0;
}

.related-colors > a > .color-card > .color-title {
  height: 40%;
}

.related-colors > a > .color-card > .color-title > h4 {
  font-size: 0.75em;
  margin: 1%;
  border: 2px solid white;
}

.home-button {
  height: 20%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.home-button button {
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
  width: 30%;
  margin-top: 2%;
  margin-bottom: 10%;
  border-radius: 0.5rem;
  background-color: white;
  cursor: pointer;
}

/** Pagination **/
.pagination {
  align-items: center;
  grid-column: 1 / 6;
  grid-row: 9 / 10;
}

.pagination > ul {
  display: grid;
  text-align: center;
  margin: 0 auto;
  max-width: 50%;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
}

.pagination > ul > a:active > li {
  background-color: lightgray;
  text-decoration: underline;
}

/** Media Queries **/
@media only screen and (min-width: 1150px) {
  .color-list {
    margin-top: 1%;
  }
  .color-card {
    width: 15vw;
  }

  .color-title > h4 {
    margin: 0.5%;
  }
}

@media only screen and (min-width: 1100px) {
  .color-card {
    min-width: 15vh;
  }
}

@media only screen and (max-width: 500px) {
  .button > a > button {
    padding: 5px;
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 400px) {
  .header {
    width: 100%;
  }

  .grid-container {
    grid-template-columns: 100px;
    grid-template-rows: 1fr 1fr;
  }

  .search-form {
    margin-right: 15%;
  }

  .detail {
    margin-left: 90%;
    height: 100vh;
    min-width: 10%;
  }
}
