* {
  margin: 0;
  padding: 0;
  font-family: 'Source Serif Pro', serif;
  color: #363c3d;
  list-style-type: none;
}

.grid-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(10, minmax(0, 1fr));
  height: 100vh;
}

header {
  background-color: #363c3d;
  display: flex;
  justify-content: space-between;
  min-width: 275px;
}

.logo-div {
  background-color: #363c3d;
  height: 2%;
  width: 3%;
  margin: 1%;
}

.logo-div > img {
  background-color: #363c3d;
  min-width: 25px;
  min-height: 25px;
  margin: 0 auto;
}

.search-form {
  min-width: 15%;
  text-align: center;
  margin: 0;
  margin-right: 5%;
}

.search-form > form {
  position: relative;
}

.search-form > form > input {
  padding: 0.65rem;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1em;
  margin: 5%;
}

.sidebar {
  grid-column: span 1;
  grid-row: 1 / 11;
  background-color: lightgrey;
  min-height: 100vh;
  text-transform: capitalize;
  min-width: 20%;
}

.sidebar > .button {
  min-height: 10%;
  margin-left: 5%;
}

.sidebar-nav > ul > li > a:hover {
  text-decoration: underline;
}

.sidebar-nav > ul > li > a:active {
  text-decoration: underline;
  background-color: darkgray;
}

.sidebar-nav {
  margin-left: 5%;
  font-size: 1.25em;
}

.button > a > button {
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
  width: 90%;
  margin: auto;
  margin-top: 20%;
  margin-bottom: 10%;
  border-radius: 0.5rem;
}

.color-swatch-section {
  grid-column: 2 / 6;
  grid-row: 1/ 9;
}

.color-list {
  display: flex;
  flex-flow: row wrap;
  max-width: 80vw;
  min-width: 200px;
  min-height: 80vh;
  margin: 5% auto;
  justify-content: space-around;
  row-gap: 10px;

  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  justify-content: space-evenly;
  height: 80vh;
  align-items: start;
  margin: 1rem;
  text-align: left;
  grid-gap: 1rem; */

  /* grid-column: 2 / 6;
  grid-row: 1/ 9; */
}

/* .color-list > a {
  text-align: left;
  align-items: end;
} */

a > .color-card {
  align-items: center;
}

a:link {
  text-decoration: none;
}

.color-card {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.434);
  border: 2px 2px solid white;
  align-items: end;
  border-radius: 0.5rem;
  height: 175px;
  width: 150px;
  padding: 5px;
}

.color-block {
  height: 85%;
  width: 100%;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.color-title > h4 {
  border: 2px solid white;
  height: 15%;
  width: 100%;
  background-color: white;
  align-items: left;
}

.color-card > div > a > h4 {
  height: 25%;
  background-color: green;
  text-align: left;
}

.pagination {
  align-items: center;
  grid-column: 1 / 6;
  grid-row: 9 / 10;
}

.pagination > ul {
  text-align: center;
  margin: 0 auto;
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
}

.pagination > ul > a:active > li {
  background-color: lightgray;
  text-decoration: underline;
}
